body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #555;
  background: #fff;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
}
.nav-links{
  display: flex;
  list-style: none;
  float:right;
  margin: 20px;
  padding-top: 10px;;
}
nav a{
  text-decoration: none;
  color: black;
  border: none;
  padding: 15px;
  margin: 15px;
}
nav a:hover{
  box-shadow: 0 1px #e74c3c;
  color: #e74c3c;
}

.header-div {
  background-image: url(images/headphones_hero_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.header-sec{
  margin-top: 150px;
  padding: 0 auto;
  height: 100vh;
  text-align: center;
}
.header-sec p{
  width: 500px;
  margin: auto;
  padding: 20px;
}

button{
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 25px;
  background-color: #e74c3c;
  color: white;
  box-shadow: 5px 15px 30px black;
}
button:hover{
  box-shadow: 0 1px #e74c3c;
}