body{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
.header-box{
  background-image: url(./CSS\ Advanced/object.png);
  background-size:cover;
}
header{
  display: flex;
}
header img {
  display: flex;
  padding: 20px;
}
header ul{
  list-style: none;
  display: flex;
  margin-left: 700px;
}
nav{
  display: flex;
  padding: 20px;
}
nav a{
  text-decoration: none;
  padding: 20px;
  color: white;
}
.schooled{
  text-align: center;
}
span{
  display:inline-flex;
  justify-content: center;
  color: white;
  width: 100px;
}
.pros{
  display: flex;
  justify-content:space-around;
  padding: 30px;
  margin-left: 30px;
}
.pros p {
  color:antiquewhite;
}
.pros img{
  margin-left: 40px;
}

.bruce{
  border-radius:70px;
  margin-left: 60px;
}
.red-tshirt-guy{
background-color: rgb(17, 41, 58);
color: white;
display: flex;
}
.red-tshirt-guy img {
  padding: 10px;
margin-left: 100px;
}
.red-tshirt-guy h3 {
  float: left;
}
.red-tshirt-guy p{
  float: left;
  padding: 30px;
  margin-left: -70px;
}
blockquote{
  margin-top: 40px;
}
h1{
  text-align: center;
  font-size: 100px;
  color: gold;
  text-shadow: 2px 5px gray;
}
h2{
  color:rgb(190, 135, 241);
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 3px 5px grey;
}
h3{
  color: rgb(217, 126, 8);
  text-align: center;
}
button{
  background-color: goldenrod;
  color: white;
  margin-left: 650px;
  padding: 10px;
  display: flex;
  margin-top: 20px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 5px 5px 5px;
}

/* Tutorials Section */
.tutorials {
  background-color: white;
  display: flex;
   flex-direction: column;
   flex: auto;
}

.tutorials > .one {
  display: flex;
  flex-direction: row; 
  flex: auto;
  background-color: #242ffb;
}
.one{
  background-color: aqua;
}
.star {
  display: flex;
  gap: 4px;
  color: #242ffb;
  margin: 10px 0;
}

.free{
  background-color:rgb(37, 52, 65);
  padding: 30px;
}
.smiley{
  display: flex;
  color: white;
  padding: 20px;
}
.smiley p{
  padding: 20px;
}
.smiley h3{
  margin-left: -80px;
}

.smiley img{
  margin-left: 90px;
}
.faq{
  margin: 80px;
}
footer{
  background-color: rgb(3, 3, 58);
  color: white;
  text-align: center;
  padding: 20px;
}

